*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito';
  }
  
  body{
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  nav{
    /*Helping in aligning navigation bar background-color: blue; */
    display: flex;
    justify-content:space-between;
  }
  nav > .logo, .navbar{
    margin: 0px;
  }
  nav > .logo > h3{
    padding-top: 20px;
    font-size: 44px;
    color: #EC4067;
    
  }
  
  nav > .navbar > ul > li{
    display: inline-block;
    font-size: 22px;
    font-weight: lighter;
    padding: 10px;
    color: rgb(68, 66, 66);
  }
  
  nav > .navbar > ul > li > .but1{
    padding: 15px;
    color: white;
    background-color: #EC4067;
    border-radius: 12px;
    width: 110px; 
    font-size: 22px;
  }
  #sect1{
   /* background-color: aqua; */
   padding: 80px;
    padding-top: 70px; 
   margin: 0px;
   /* height: 700px;  */
  }
 #sect1 >.intro >.imageRight img{
  /* padding-top: 10px; */
   /* height: 50px;  */
   /* width: 50%; */
   height: 360px;
  float: right;
  padding-bottom: 20px;
  
} 
#sect1 > .intro > .introCon h4{
  padding-top: 30px;
  color: rgb(68, 66, 66);
  font-size: 24px;
  font-weight: lighter;
  /* padding-bottom: px; */
}
#sect1 > .intro > .introCon h2{
  padding-top: 30px;
  color: #EC4067;
  font-size: 34px;
  font-weight: lighter;
  padding-bottom: 15px;
}
#sect1 > .intro > .introCon p{
  font-size: 24px;
  padding-bottom: 30px;
  width: 50%;
  color: rgb(68, 66, 66);
} 
#sect1 > .intro > .introBut > ul > li{
  display: flex;
  display: inline-block;
  justify-items: center;

}
#sect1 > .intro > .introBut > ul > li >button{
  color: white;
  background-color: #EC4067;
  /* border-radius: 5px; */
  width:180px;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
#sect1 > .intro > .introBut > ul > li > .introBut1{
  color: white;
  border-radius: 5px;
}
#sect1 > .intro > .introBut > ul > li > .introBut2{
  background-color: white;
  color: #EC4067;
}
.stories{
  padding:80px;
  font-family: 'Nunito';
  font-size: 24px;
  
}
img {
  height: 300px;
  width: 450px;
  border: none;
}

.stories img {
  width:600px;
  height: 350px;
}
h3 {
  color: #EC4067
}

.stories .orientation {
  margin-bottom: 15px;
  padding: 10px;
  color: rgb(68, 66, 66);
}

.stories button {
  width: 110px;
  border-radius: 8px;
  background-color: #EC4067;
  color: white;
  font-size: 20px;
}
.stories h3 {
  color: black;
  font-weight: bold;
  font-size: large;
